{% extends 'layout.html' %}

{% block content %}
  <div class="timeline">
    <div class="followings half">
      <h2>팔로잉 목록</h2>
      {% if user.Followings %}
        {% for following in user.Followings %}
          <div>{{following.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>
    <div class="followers half">
      <h2>팔로워 목록</h2>
      {% if user.Followers %}
        {% for follower in user.Followers %}
          <div>{{follower.nick}}</div>
        {% endfor %}
      {% endif %}
    </div>

    <h1>프로필 정보 변경</h1>
    <form id="update-pw" action="/user/change-pw" method="post"> <!--/auth/join 요청 날림-->
      <div class="input-group">
        <label for="email">이메일</label>
        <input id="email" type="email" name="email"></div>
      <div class="input-group">
        <label for="nick">닉네임</label>
        <input id="nick" type="text" name="nick"></div>
      <div class="input-group">
        <label for="password">새 비밀번호</label>
        <input id="password" type="password" name="password">
      </div>
      <button id="update-btn" type="submit" class="btn">비밀번호 변경</button>
    </form>
  </div>
{% endblock %}

{% block script %}
  <script>
    window.onload = () => {
      if (new URL(location.href).searchParams.get('error')) {
        alert('이미 존재하는 이메일입니다.');
      }
      if (new URL(location.href).searchParams.get('success')) {
        alert('비밀번호가 성공적으로 변경되었습니다.');
      }
    };
  </script>
{% endblock %}
